<div class="row g-2 mt-4">
  <form action="">

  <div class="col-md">
    <div class="form-floating">
      <input type="text" name="search" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
      <label for="floatingInputGrid">Email address</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid" name="gender">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <label for="floatingSelectGrid">Works with selects</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>